.gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
  }

  .gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
  }

  .gallery .gallery-item:hover img {
    transform: scale(1.1);
  }

  .party {
    text-align: center;
    margin: auto;
  }

.party {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gallery-item img {
    width: 100%;
    height: 750px;
    object-fit: cover;
}